<!DOCTYPE html>
<html
	xlmns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout" >
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
 <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
</head>
<body>
 <div layout:fragment="content" >
 <div class="site-wrapper">

      <div class="container">

          <div class="center">
            <div class="col-sm-4">
              <h3 class="masthead-brand">Welcome to home page</h3>
              
            </div>
          </div>
			
          <div class="inner cover">
           
            <p class="lead">Go to Categorie page</p>
            <p class="lead">
              <a th:href="@{categories}" class="btn btn-lg btn-info">Categorie</a>
            </p>
          </div>
          
          <div class="inner cover">
           
            <p class="lead">Go to Cinema page</p>
            <p class="lead">
              <a th:href="@{cinemas}" class="btn btn-lg btn-info">Cinema</a>
            </p>
          </div>
          
          <div class="inner cover">
           
            <p class="lead">Go to Films page</p>
            <p class="lead">
              <a th:href="@{films}" class="btn btn-lg btn-info">Film</a>
            </p>
          </div>
			
          <div class="inner cover">
           
            <p class="lead">Go to Projections page</p>
            <p class="lead">
              <a th:href="@{projections}" class="btn btn-lg btn-info">Projection</a>
            </p>
          </div>
          

        </div>

      </div>

    </div>

 <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>